body{
	background-color: #656F7B;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 28px;
	font-family: 'Open Sans', Arial, sans-serif;
}

a:link, a:visited{
	color: #000000;
}

div.header{
	position: relative;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
}

div.main{
	background-color: #fff;
	position: relative;
	clear: both;
	overflow: hidden;
	width: 70%;
	margin: 0 auto;
}

div.contentcontainer{
	min-height: 720px;
	clear: both;
	position: relative;
	right: 23%;
}

div.content{
	min-height: 720px;
	padding-top: 60px;
	float: left;
	width: 71%;
	left: 27%;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
}

div.navcontainer{
	min-height: 720px;
	float:left;
    	width:100%;
    	position:relative;
}

div.nav{
	min-height: 780px;
	float: left;
	width: 23%;
	left: 31%;
	background-color: #363941;
	overflow: hidden;
	position: relative;
	text-indent: 30px;
	font-size: 24px;
}

div.nav a:link, a:visited{
	color: #ffffff
}


