body{
	background-color: #fdfdfd;
	color: #2e2e2e;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', Arial, sans-serif;
}
div.content{
	border: 1px solid $fbfbfb;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	float: left;
	width: 630px;
	margin-right: 30px;
}