<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}layout.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}skeleton.css">
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>

	<body>

		<div class="container">

			<div class="three columns sidebar">
				<nav>
					{% block nav %}
					<br><a href="/">Home</a>
					{% endblock %}
				</nav>
			</div>


			<div class="twelve columns offset-by-one content">
				<h1>Welcome to My Blog</h1>
				{% block content %}
				{% endblock %}
			</div>

		</div>

	</body>
</html>
